* {

    box-sizing: border-box;
}

body {

    margin: 0;
}

.nav {

    background-color:#333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{

    color: inherit;
}

.site_title {

    font-size: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
            width: 50%;}

.pricing {

    background-color:#333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Image{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.mu {

    left: 0;
bottom: 200;

}

.api{

    color: green;
    font-family: "Times New Roman", Times, serif;
    background-color: lightblue;
    border-style: double;
}

.fla{

    color: green;
    font-family: "Times New Roman", Times, serif;
    background-color: lightblue;
    border-style: double;

}

.App-header{

    color: green;
    font-family: "Times New Roman", Times, serif;
    background-color: lightblue;
    border-style: double;

}

.ba{

    background-image: url("murph.gif");
    padding:  1rem;
    width: 2000px;
    height: 1000px;
}

.text{

    color: blueviolet;
    text-align: center;
    padding: 20px;
  border-style: solid;
  border-color: #B6C7D6;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.br{
    color: blueviolet;
    text-align: center;

}